ion-tab-bar {
  --background: #5bbdf5;
  --border: none;
  
  display: flex;
  flex-direction: row; 
  justify-content: center;
}

ion-tab-button {
  --color: rgba(0, 0, 0, 0.4);
  --color-selected: #000000;
}