/* LIGHT MODE */
:root,
:root{/** Secondary Color - Pink/Red from image */
  --ion-color-secondary: #5bbdf5;
  --ion-color-secondary-rgb: 233, 30, 99;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5bbdf5;
  --ion-color-secondary-tint: #5bbdf5;
}
