/* LIGHT MODE */
:root,
:root{/** Secondary Color - Pink/Red from image */
  --ion-color-secondary: #e91e63;
  --ion-color-secondary-rgb: 233, 30, 99;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #cd1a57;
  --ion-color-secondary-tint: #eb3573;
}
