/* LIGHT MODE */
:root,
:root[color-theme="light"] {
  --ion-background-color: #f5f5f5;
  --ion-text-color: #111;
  --ion-card-background: #ffffff;

  --ion-color-primary: #e92063;
}

/* DARK MODE */
:root[color-theme="dark"] {
  --ion-background-color: #16181D;
  --ion-text-color: #ffffff;
  --ion-card-background: #1e2127;

  --ion-color-primary: #e92063;
}
