/* Custom Modal Size */
.add-movie-modal-css {
  --width: 100%;
  --height: 100%;
  
  @media (min-width: 768px) {
    --width: 400px;
    --height: 600px;
    --border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  }
}